*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
/caches
.externalNativeBuild
.cxx
local.properties
/caches/
/daemon/
/native/
/wrapper/dists/
*.dylib
*.dylib.lock
*.jnilib
CACHEDIR.TAG
*.lck
*.ok
*.out.log
*.bin
*.bin.lock
.DS_Store
/android/FakeDependency.jar
/buildSrc/build/
/app/schemas/
